h1{
    font-size: 225%;
}

.item3{
    color: white;
    font-size: 1em;
}

.item3:hover {
    background-color: black;
    color: white;
}
.item4{
    font-size: 30;
    color: darkblue;
    font-family: 'Nanum Myeongjo', serif;
}
.item5{
    font-size: 30;
    font-family: 'Gowun Batang', serif;
    color: darkslategray;
}
.fonttest1{ color:cadetblue }
.fonttest2{ direction: rtl; }
.fonttest3{ letter-spacing: 3ch; }
.fonttest4{ line-height: 10cm; }
.fonttest5{ text-align: center; }
.fonttest6{ text-decoration: underline;
            text-decoration-color: cornflowerblue;
            text-decoration-line: 3px; }
.fonttest7{ text-indent: 2ch; }
.fonttest8{ text-shadow: 5px 5px 2px darkslateblue; }
.fonttest9{ text-transform:uppercase; }
